# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.sqlite3
db.sqlite3
local_settings.py
staticfiles/
media/

# Environment variables
.env
.env.local
.env.*.local

# MkDocs
site/
.cache/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
